/brainClass/
/brain-genes-paper/
/ComputingClub/
/dankessler-cv/
/Google-Fellowship-KesslerD/
/ihsec/
/thejoyfuldancer/
/VisitDay2020/
/NetCov/
/netcovr/
/og-posi/
/rtg-web/
/selective-inference/
/cj-software/
/grpregOverlap/
/grpreg/
/rns/
/graph-bcn/
/fastr/
/scoop/
/sdsi/
/rackham-predoc-fellowship/
/dissertation/
/ica-pca/
/VisitDay2021/
/takgraphr/
/ESS/
/magit/
/persp-mode.el/
/with-editor/
/outshine/
/evil-collection/
/JobMarket/
/keyboard-config/
/SCCA/
/combootcca/
/NetSplit/
/F-Screen/
/reviews/
/coral_data_science/
/TreeBH/
/NeuroTree/
/org-latex-impatient/
/org-mode/
/git@github.com:polymode/polymode.git/
/polymode/
/coral-timeseries/
/pysi/
/ghostpdl/
